<p>
  <b>Task:</b>
  <%=h @comment.task_id %>
</p>

<p>
  <b>User:</b>
  <%=h @comment.user_id %>
</p>

<p>
  <b>Comment:</b>
  <%=h @comment.comment %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
