<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'thickbox' %>
<%= stylesheet_link_tag 'thickbox' %>

<%= error_messages_for :task %>

<% form_for([@sprint,@task]) do |f| %>
	<p>
  	<b>Product Backlog</b><br />
  	<%= @sprint.backlog.name %>
	</p>

	<p>
  	<b>Sprint</b><br />
  	<%= textilize(@sprint.comments) %>
	</p>
	
  <p>
    <b>Item de Product Backlog</b><br />
		<%= f.text_field :backlog_item_id, :size => 5, :id => 'backlog_item_id', :readonly => 'true' %>&nbsp;
		<a href="<%= find_backlog_backlog_items_path(@sprint.backlog) %>?KeepThis=true&TB_iframe=true&height=400&width=500" class="thickbox"><%= image_tag 'magnifier.png', :border => 0 %></a>&nbsp;
		<input type="text" id="backlog_item_description" size="50" readonly="true" value="<%= (@task.backlog_item ? @task.backlog_item.description : '') %>"/>  
		<br />
  </p>
	
  <p>
    <b>Descrição</b><br />
    <%= f.text_field :description, :size => 62 %>
  </p>

  <p>
    <b>Previsão de horas</b><br />
    <%= f.text_field :hours, :size => 5 %>
  </p>

	<% if @task.new_record? %>
<<<<<<< HEAD:app/views/tasks/_form.html.erb
		<%= f.hidden_field :status, :value => "Aberto" %>
=======
		<%= f.hidden_field :status, :value => 'Aberto' %>
>>>>>>> master:app/views/tasks/_form.html.erb
	<% else %>
<<<<<<< HEAD:app/views/tasks/_form.html.erb
  <p>
    <b>Status</b><br />
		<%= f.select :status, ["Aberto", "Alocado", "Pronto"] %>
  </p>
=======
	  <p>
	    <b>Status</b><br />
	    <%= f.select :status, ["Aberto", "Alocado", "Pronto"] %>
	  </p>
>>>>>>> master:app/views/tasks/_form.html.erb
	<% end %>
  <p>
    <b>Story case</b><br />
    <%= f.text_area :story, :rows => 7, :cols => 60 %>
  </p>

  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>

<% content_for :side do %>
	<%= render_formatting_help %>
<% end %>