<div class="page_header">
	<div class="page_header_links">
		<%= link_to 'Novo usuário', new_user_path %> 
	</div>
	<h1>Usuários</h1>
</div>

<div id="data">
	
	<style type="text/css" media="screen">
		.card {
			background-color: #FFFCCE;
			border-right: 3px solid #ccc;
			border-bottom: 3px solid #ccc;
			float:left;
			width: 400px;
			height: 130px;
			padding: 5px;
			margin: 8px;
		}
		
		.card img {
			float:left;
			margin: 5px;
		}
	</style>
	
	<%- for user in @users %>
		<div class="card">
			<%= link_to render_user_image(user), user %>
			<b><%= user.name %></b><br/>
			<%= auto_link(user.email) %> <br/>
			<%= link_to 'Editar', edit_user_path(user) %> ou 
			<%= link_to 'Apagar', user, :confirm => 'Você tem certeza?', :method => :delete %>
		</div>
	<%- end -%>

<br/><br/><br/>

</div>