<style type="text/css" media="screen">

	div#item_backlog_title {
		margin: 1px; 
		border: 1px solid #000;
		width: 23%;
		float:left;
		text-align:center;
	}

	div#item_backlog {
		background-color: #3366CC;
		border: 1px solid #000;
		border-right: 2px solid #000;
		border-bottom: 2px solid #000;
		margin: 1px; 
		width: 23%;
		height: 167px;
		float:left;
		text-align:center;
		color: #000;
		font-size: 12px;
		padding-top: 10px;
	}
	
	div#status_title {
		margin: 1px;
		border: 1px solid #000;
		width: 24%;
		float:left;
		text-align:center;
	}
	
	div#status {
		min-height: 177px;
		margin: 1px;
		border: 1px solid #000;
		width: 24%;
		float:left;
		text-align:center;
	}

	div#item_group {
		width: 100%;
		float: left;
		margin-top: 10px;
	}
	
	div#postit a, a:visited {
		color: #000;
		text-decoration: none;
	}

	div#postit	a:hover, a:active {
		color: #000;
		text-decoration:none;
		background-color: #FFFF66;
	}
	
</style>

<% if @sprint %>
	<div class="page_header">
		<h1>Sprint</h1>
	</div>
	
<div id="data">
	
	<%= textilize(@sprint.comments) %>
	
	<b>Filtro: </b>
	&nbsp;&nbsp;<%= link_to "Todos", :action => "index" %>
	<%- for product in @products do -%>
	&nbsp;&nbsp;<%= link_to product.name, :action => "index", :filter => product.id %>
	<%- end -%>
	
	<div id="item_backlog_title">
		<b>Item</b>
	</div>
	<div id="status_title">
		<b>Aberto</b>
	</div>
	<div id="status_title">
		<b>Alocado</b>
	</div>
	<div id="status_title">
		<b>Pronto</b>	
	</div>

	<% @tasks.group_by(&:backlog_item).each do |backlog_item,tasks| %>
	
		<div id="item_group">	
		
			<div id="item_backlog">
				<b><%= backlog_item.product.name %></b>
				<br/><br/>
				<%= textilize(backlog_item.description) %>
			</div> 
		
				<div id="status">
					<% for task in tasks.find_all{|t| t.status == "Aberto"} %>
						<div id="postit">							
							<%= link_to (task.description.size > 25 ? task.description[0..25] +"..." : task.description), sprint_task_path(@sprint,task) %> <br/>
							<b style="color:red"><%= task.hours %></b>
						</div>
					<% end %>
				</div>

				<div id="status">
					<% for task in tasks.find_all{|t| t.status == "Alocado"} %>
						<div id="postit">
							<%= link_to (task.description.size > 25 ? task.description[0..25] +"..." : task.description), sprint_task_path(@sprint,task) %> <br/>
							<b style="color:red"><%= task.hours %></b>
						</div>
					<% end %>
				</div>

				<div id="status">
					<% for task in tasks.find_all{|t| t.status == "Pronto"} %>
						<div id="postit">
							<%= link_to (task.description.size > 25 ? task.description[0..25] +"..." : task.description), sprint_task_path(@sprint,task) %> <br/>
							<b style="color:red"><%= task.hours %></b>
						</div>
					<% end %>
				</div>
		
		</div>
	<% end %>
<% else %>
	Bem-vindo ao <b>iRun</b>
<% end %>

</div>
