<%= error_messages_for :backlog_item %>

<% form_for([@backlog,@backlog_item]) do |f| %>

	<p>
  	<b>Produto</b><br />
  	<%= f.select :product_id, @products.collect {|p| [p.name, p.id]}, :prompt => "-- Selecione --" %>
	</p>

  <p>
    <b>Descrição</b><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>

  <p>
    <b>Iteração</b><br />
    <%= f.text_field :iteration, :size => 10 %>
  </p>

  <p>
    <b>Pontos</b><br />
    <%= f.select :points, [1,2,3,4,5,6,7,8,9,10], :prompt => "-- Selecione --" %>
  </p>

  <p>
    <b>Usuário</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>
