<table id="grid">
	<th>Produto</th>
	<th>Descrição</th>
	<th id="action">Pontos</th>

		<% for item in @backlog_items do %>
			<tr>
				<td><%= item.product.name %></td>
				<td>
					<a href="#" onclick='preencheCampo("backlog_item_description","<%= item.product.name %>: <%= item.description.gsub(/\r\n/,'').gsub(/\"/,'``') %>");preencheCampo("backlog_item_id","<%= "#{item.id}" %>");parent.tb_remove()'>
						<%=h item.description %>
					</a>
				</td>
				<td style="text-align:center"><%= item.points %></td>
			</tr>
		<% end %>
		
</table>