<p>
  <b>Produto:</b>
  <%=h @backlog_item.product.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= textilize(@backlog_item.description) %>
</p>

<p>
  <b>Iteração:</b>
  <%=h @backlog_item.iteration %>
</p>

<p>
  <b>Pontos:</b>
  <%=h @backlog_item.points %>
</p>

<p>
  <b>Usuário responsável:</b><br/>
	<%= render_user_image(@backlog_item.user) %>
  <%=h @backlog_item.user.name %>
</p>


<%= link_to 'Novo', new_backlog_backlog_item_path(@backlog) %> |
<%= link_to 'Editar', edit_backlog_backlog_item_path(@backlog,@backlog_item) %> |
<%= link_to 'Voltar', backlog_backlog_items_path(@backlog) %>
