<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Comments:</b>
  <%= textilize(@product.comments) %>
</p>

<p>
  <%= render_product_image(@product) %>
  
</p>


<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>
